*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:#f4f4f4;
    padding:30px;
}

.container{
    max-width:900px;
    margin:auto;
    text-align:center;
}

.gallery img{
    width:100%;
    border-radius:10px;
}

.controls{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:20px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#2563eb;
    color:white;
}

button:hover{
    opacity:.9;
}

:focus{
    outline:3px solid orange;
    outline-offset:3px;
}

.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.7);

    display:flex;
    justify-content:center;
    align-items:center;
}

.modal-content img{
    width:80%;
    max-width:900px;
}

.hidden{
    display:none;
}

.palette{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);

    display:flex;
    justify-content:center;
    align-items:flex-start;

    padding-top:100px;
}

.palette-box{
    width:600px;
    background:white;
    border-radius:10px;
    overflow:hidden;
}

#commandInput{
    width:100%;
    padding:15px;
    border:none;
    border-bottom:1px solid #ddd;
}

#commandList{
    list-style:none;
}

#commandList li{
    padding:12px;
    cursor:pointer;
}

#commandList li:hover{
    background:#eee;
}